<div class="card text-center" style="width: 100%;">
   
      {{#link-to 'product' product.id (query-params tag=activeTags path=path)}}
        <img style="height: 200px;" class="card-img-top img-fluid" src="{{product.imageUrl}}" alt="RZK Маркет" title="{{product.name}}">
      {{/link-to}}

      <div class="card-block mt-3">
        <p class="card-text">
          <h5>{{#link-to 'product' product.id (query-params tag=activeTags path=path)}}{{product.name}}{{/link-to}}</h5>
        </p>
        
        <h6 class="card-subtitle mb-2 text-muted">
           {{product.id}}
        </h6>

      </div>
      
      <div class="card-footer">
        
        <h3>{{format-currency product.price}} <small class="text-muted">{{shopCurrency}}</small></h3>
    
        <h5>
          <small class="text-muted">
            Склад: указать
          </small>
        </h5>
        
        {{#if product.qty}}
          <button type="button" {{action 'openModal' product}} class="btn btn-success btn-block">В корзине {{product.qty}}</button>
        {{else}}
          <button type="button" {{action 'openModal' product}} class="btn btn-primary btn-block">Добавить в корзину</button>
        {{/if}}
        
        
      </div>
</div>