{{#bs-form formLayout="horizontal" model=this onSubmit=(action "save") as |form|}}

    {{form.element validation=passwordValidation useIcons=false controlType="password" label="Новый пароль" autofocus=true required=true property="password"}}

    {{form.element validation=passwordValidation useIcons=false controlType="password" label="Повторите пароль" required=true property="password_confirmation"}}

    {{form.element validation=currentPasswordValidation useIcons=false controlType="password" label="Текущий пароль" required=true property="password_current"}}

    {{#form.group}}
        <div class="offset-sm-4 col-sm-8">
          
          {{bs-button type="primary" buttonType="submit" icon="fa fa-btn fa-user" defaultText="Изменить" textState=buttonState loadingText="Подождите..."}}
          {{bs-button type="primary" onClick=(action "resetPassword") icon="fa fa-btn fa-envelope" defaultText="Забыли пароль?" textState=buttonResetState loadingText="Подождите..."}}
          
        </div>
    {{/form.group}}
	    
{{/bs-form}}

{{#bs-alert type="success" visible=successMessageVisible}}
  <strong>{{message}}</strong>
{{/bs-alert}}

{{#if errors.messages}}
    <div class="alert alert-danger">
        <ul>
            {{#each errors.messages as |message|}}
              <li>{{message.message}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}