<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card mt-3">
                <div class="card-header">Восстановить пароль</div>
                <div class="card-body">
                    <div class="container">
                        {{#bs-form formLayout="horizontal" model=this onSubmit=(action "reset") as |form|}}

                            {{form.element controlType="hidden" property="model.token"}}
                            
                            {{form.element controlType="email" label="Email" placeholder="Email" property="email" autofocus=true required=true}}
                            
                            {{form.element controlType="password" label="Новый пароль" placeholder="New password" property="password" required=true}}
                            
                            {{form.element controlType="password" label="Повторите пароль" placeholder="Confirm password" property="password_confirmation" required=true}}
                            
                            {{#form.group}}
                                <div class="offset-sm-4 col-sm-8">
                                    {{bs-button type="primary" buttonType="submit" icon="fa fa-btn fa-refresh" defaultText="Изменить пароль" textState=buttonState loadingText="Подождите..."}}
                                </div>
                            {{/form.group}}
                            
                        {{/bs-form}}
                        
                        {{#if errors}}
                            <div class="alert alert-danger">
                                <ul>
                                    {{#each errors as |message|}}
                                      <li>{{message}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}
                        
                        {{#bs-alert type="success" visible=notifyVisible}}
                           <strong>{{notifyMessage}}</strong>
                        {{/bs-alert}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>