<div class="container-fluid">
  <h3 class="mt-3">Корзина <small class="text-muted">{{model.id}} <strong>Загружена:</strong> {{moment-from-now model.createdAt interval=1000}}</small></h3>
  <div class="card-deck">
    {{#each model.lineItems as |product|}}
      {{product-card product=product balance=(eq product.balance 0) compact=true qtyCart=product.countOrder}}
    {{/each}}
  </div>
  <p class="lead mt-3">
    Всего наименований <strong>{{cartGoodsCount.length}}</strong>,
	количество <strong>{{countGoods}}</strong>
  </p>
  <p class="lead">
    <h4>Сумма: <strong>{{format-currency model.total}}</strong> грн</h4>
  </p>
  {{#if cart.countGoods}}
	<div class="alert alert-success" role="alert">
	  <strong>Внимание! В вашей корзине уже есть товары, при загрузке старые товары будут удалены.</strong>
	</div>
  {{/if}}
  <p class="lead">
    Вы можете загрузить товары в корзину
  </p>
  {{#bs-button onClick=(action 'importToCart' model.lineItems) type="primary"}}Загрузить товары{{/bs-button}}
</div>